body {
	background: linear-gradient(-45deg, #0cedb9,  #0cedcb,  #0cedcb,  #0cb8ed,  #0caaed,  #0c9aed);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0 50%;
	}
}

.heading{
  height: 150px;
}


.headingtext{
  font-size: 4rem;
  font-family: 'Bungee Shade', cursive;
}
